<component name="libraryTable">
  <library name="spring-tx-3.2.4.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-tx-3.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-3.2.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-logging-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-3.2.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>