.bev-logo{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 36px;
    font-style: italic;
    color:#5E5E5E;
}
.bev-banner{
    background-color: #F8F8F8;

    background-image: -webkit-linear-gradient(top,white 0,#F8F8F8 100%);
    background-image: linear-gradient(to bottom,white 0,#F8F8F8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff8f8f8',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

    border: 1px solid #E7E7E7;
    border-color: #E7E7E7;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 5px rgba(0, 0, 0, 0.075);
}
#canvas{
    background: #f1f1f1;
    box-shadow:0 0 20px #234878;
    border: 7px solid #FCFCFC;
}